<div class="outer">
  <div class="container">
    <div class="row">
      <div class="w-50 form-panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    loginForm.controls['userName'].dirty &&
                    loginForm.hasError('required', 'userName')
                  "
                >
                  <fa-icon [icon]="userIcon" class="form-icon"></fa-icon>
                  <input
                    type="text"
                    placeholder="User Name"
                    formControlName="userName"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['userName'].dirty &&
                    loginForm.hasError('required', 'userName')
                  "
                  >*User Name Is Required</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    loginForm.controls['password'].dirty &&
                    loginForm.hasError('required', 'password')
                  "
                >
                  <fa-icon [icon]="lockIcon" class="form-icon"></fa-icon>
                  <input
                    [type]="passwordType"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <fa-icon
                    [icon]="eyeIcon"
                    class="eyeIcon"
                    (click)="togglePassword()"
                  ></fa-icon>
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['password'].dirty &&
                    loginForm.hasError('required', 'password')
                  "
                  >*User Name Is Required</small
                >
                <div class="form-inline fr mt-4">
                  <a
                    id="forget"
                    class="div.form-inline.fr.mt-4"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    >Forget Password?</a
                  >
                </div>
                <button
                  class="btn btn-primary btn-block mt-4 w-100"
                  type="submit"
                  (click)="loginSubmit()"
                >
                  Login
                </button>
                <div class="text-center pt-4 text-muted">
                  Don`t Have An Account?
                  <a id="forget" routerLink="/signup">Sign Up</a>
                </div>
                <div class="mx-3 my-2 py-2 bordert">
                  <div class="text-center py-3">
                    <a href="http://facebook.com" target="_blank" class="px-2"
                      ><img
                        class="img"
                        src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png"
                        alt=""
                    /></a>
                    <a href="http://google.com" target="_blank" class="px-2"
                      ><img
                        class="img"
                        src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                        width="200"
                        alt="google logo png suite everything you need know about google newest"
                        alt=""
                    /></a>
                    <a href="http://github.com" target="_blank" class="px-2"
                      ><img
                        class="img"
                        src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="exampleModalLabel"><span style="font-size: 25px; font-weight: 700;">Forget Your Password?</span><br>
        <small>Please Provide Your Email We Will Send The Reset Link</small></p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field">
            <fa-icon [icon]="userIcon" class="form-icon me-2"></fa-icon>
        <input [(ngModel)]="resetPasswordEmail" (ngModelChange)="CheckValidEmail($event)" class="form-control" type="text" placeholder="Email">
          </div>
        <small *ngIf="!resetPasswordEmail" class="text-danger">*Email Is Required</small>
        <small *ngIf="!isEmailValid && resetPasswordEmail" class="text-danger">*Email Is Invalid</small>
      </div>
      </div>
      <div class="modal-footer">
        <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="ConfirmEmail()" type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
