<div class="container">
  <div class="option-list">
<ul>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
  <li><a routerLink="/home">Action<fa-icon [icon]="penIcon"></fa-icon></a></li>
</ul>
</div>
</div>

