.navbar{
  color: white;
  background-color: rgb(70, 70, 70);
}
.navbar a{
  color: white;
}
.user-info{
  display: flex;
}
.btn{
  color: white;
  margin-left: 10px;
  background-color: blue;
}
.btn:hover{
  background-color: red;
}
