<!-- <div class="outer">
  <div class="container">
    <div class="row">
      <div class="w-50 form-panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Password</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="resetPasswordForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    resetPasswordForm.controls['password'].dirty &&
                    resetPasswordForm.hasError('required', 'password')
                  "
                >
                  <input
                    type="password"
                    placeholder="New Password"
                    formControlName="password"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    resetPasswordForm.controls['password'].dirty &&
                    resetPasswordForm.hasError('required', 'password')
                  "
                  >*Password Is Required</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    resetPasswordForm.controls['confirmPassword'].dirty &&
                    resetPasswordForm.hasError('required', 'confirmPassword')
                  "
                >
                  <input
                    type="password"
                    placeholder="confirmPassword"
                    formControlName="confirmPassword"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    resetPasswordForm.controls['confirmPassword'].dirty &&
                    resetPasswordForm.hasError('required', 'confirmPassword')
                  "
                  >*confirmPassword Is Required</small>
                <small
                  class="text-danger"
                  *ngIf="
                    resetPasswordForm.hasError('ConfirmPasswordValidator', 'confirmPassword')
                  "
                  >*Passwords Does'nt Match</small>
                <button
                  class="btn btn-primary btn-block mt-4 w-100"
                  type="ٌsubmit"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="w-50 form-panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Password</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="resetPasswordForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    resetPasswordForm.controls['password'].dirty &&
                    resetPasswordForm.hasError('required', 'password')
                  "
                >
                  <input
                  [type]="passwordType"
                    placeholder="New Password"
                    formControlName="password"
                  />
                  <fa-icon
                  [icon]="eyeIcon"
                  class="eyeIcon"
                  (click)="togglePassword()"
                ></fa-icon>
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    resetPasswordForm.controls['password'].dirty &&
                    resetPasswordForm.hasError('required', 'password')
                  "
                  >*Password Is Required</small
                >
                <div
                class="input-field"
                [class.error]="
                  resetPasswordForm.controls['confirmPassword'].dirty &&
                  resetPasswordForm.hasError('required', 'confirmPassword')&&
                  resetPasswordForm.hasError('ConfirmPasswordValidator','confirmPassword')
                "
              >
                <input
                [type]="passwordType"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                />
              </div>
              <small
                class="text-danger"
                *ngIf="
                  resetPasswordForm.controls['confirmPassword'].dirty &&
                  resetPasswordForm.hasError('required', 'confirmPassword')
                "
                >*Confirm Password Is Required</small>
              <small
              class="text-danger"
              *ngIf="resetPasswordForm.hasError('confirmedValidator','confirmPassword')"
              >*Passwords Does'nt Match</small
            >
                <button
                  [disabled]="resetPasswordForm.invalid"
                  class="btn btn-primary btn-block mt-4 w-100"
                  type="ٌsubmit"
                  (click)="reset()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
